@import "vars"

// ≥1200px
@media screen and (max-width: 1199px)
  
  .section-mt
    margin-top: 50px
    
  
  
// ≥992px
@media screen and (max-width: 991px)

  .section-mt
    margin-top: 40px
    
  
  
// ≥768px
@media screen and (max-width: 767px)

  .section-mt
    margin-top: 30px
    
  
  // ≥576px
@media screen and (max-width: 576px)
  .container
    width: 320px
